page-event-search {

    .ButtonRight{
        font-size: 2em;
        position: relative;
        top: 0.15em;
        right: 0.25em;
        color: white;   
    }

    .title{
        position: relative;
        top: 0.35em;
    }
}
