<ion-menu [content]="content">
  <ion-header no-border >
    <ion-toolbar color="eventarichPink">
      <ion-title><img src="assets/pict/logo.png" class='LogoSideMenu'></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="MenuColor MenuContent">
    <ion-list class="MenuColor">
      <button class="MenuColorContent" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon *ngIf="p.title=='Home'" name="md-home" class='iconSideMenu' color="dark"></ion-icon>
          <ion-icon *ngIf="p.title=='Kebutuhan Event'" name="md-cube" class='iconSideMenu' color="dark"></ion-icon>
          <ion-icon *ngIf="p.title=='Vendor Kami'" name="md-body" class='iconSideMenu' color="dark"></ion-icon> 
          <ion-icon *ngIf="p.title=='Profile'" name="md-person" class='iconSideMenu' color="dark"></ion-icon> 
          <span class="menuSideMenu">{{p.title}}</span>
        </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>