// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.LogoSideMenu {
    width:25vw; /* you can use % */
    height: auto;
    display: block; 
    margin: auto;
    margin-top: 2.5vh;
    margin-bottom:2.5vh;
}

.MenuContent {
    position: relative;
    bottom: 20vh;
}

.iconSideMenu {
    margin-right: 20px;
    color: #ff1493;
}

.MenuColorContent {
    align-items: center;
    margin: 0 5% 0 5%;

    width: 85%;
    font-weight: 500;
}

.input-cover{
    display: none;
}

.footer{
    padding: 0.5em;
    background-color: white;
}