page-total {
	.invisibleButton {
        height:10px;
        width:60px;
    }

    .methodLayout{
        margin: 1em 0;
        
        border: solid 1px gray;
        padding: 1em;
    }

    .basic{
        margin: 1em 0;
        border: solid 1px white;
        padding: 1em;
    }

    .iconArrow{
        color: gray;
        font-size: 1.5em;
    }

    .iconBox{
        font-size: 1.75em;
    }

    .methodName{
        position: relative;
        top: 0.25em;
    }

    .footer{
        padding: 0.5em;
    }
}
