page-uploadevent {
    .image{
        display: block;
        margin: auto;
        width: 90%;
        max-height: 70vw;
        margin-bottom: -0.25em;
    }

    .footer{
        padding: 0.5em;
    }
}
