page-event-packet-customize {
    .invisibleButton {
        height:10px;
        width:60px;
    }

    .icon{
        width: 1.5em;
        height: 1.5em;
        margin-right: 1em;

        position: relative;
        top: 0.25em;
    }
    
    .footer{
        padding: 0.5em;
    }

    .ticketLayout{
        margin-top: 0.5em;
    }
}
