page-venuedetail {
	.invisibleButton {
        height:10px;
        width:60px;
    }

    .footer{
        padding: 0.5em;
    }

    .contentSpace{
        margin: 1em;
    }

    .imageCard{
        width: 100%;
        max-height: 70vw;
    }

    .eventName{
        font-size: 1.5em;
        font-weight: bold;
    }

    .eventPrice{
        background-color: #ff1493;
        color: white;
    }

    .eventPriceFree{
        border: solid 2px #ff1493;
        color: #ff1493;
    }

    .iconMini{
        position: relative;
        top: 0.1em;
        color: gray;
        font-size: 1em;
    }

    .littleSpace{
        margin-left: 0.1em;
        margin-right: 0.075em;
    }
}
